@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tonys Pizzas</h1>
    <h2>Tonys Pizza is the best pizza ever</h2>

    <img class="mainImage" src="~/images/PizzaTime.jpg" />

    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">Checkout</a>
</div>
