@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Tonys Pizzas</h1>
        <h2 class="mainSubTitle">Tonys Pizza is the best pizza ever</h2></div>
        <img class="mainImage" src="~/images/PizzaTime.jpg" />
        <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Bring me that pizza</a>
    
</div>
